#home .home-lk,
#about .about-lk,
#artists .artists-lk,
#shows .shows-lk,
#news .news-lk
    {
    color: #C2C2C2;
    font-weight:bold;
}

html{
    background-color: #F1E6E5;
}
body{
    font-family: 'Poppins', sans-serif;
    max-width:1000px;
}
header{
    text-decoration: none;
    text-align: center;
    display: block;
}
nav{
    list-style: none;
    padding:0;
}

.kaleheader{
    margin-bottom: 0;
    font-size: 40pt;
    text-align: center;
}
ul{
    list-style-type: none;
    border-bottom:solid #C2C2C2 3px;
    padding-bottom: 1rem;
}
li{
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
.link{
    font-weight:bold;
    font-size: 14pt;
}
.link2{
    font-weight:bold;
    font-size: 14pt;
    color: #DB2B39;
}
h1{
    font-size: 18pt;
    margin-bottom: 0;
    text-align: right;
}
h2{
    text-align: right;
}
h3{
    text-align: right;
}

p{
    font-size: 12pt;
}
footer{
    font-size: 6pt;
    margin-bottom: 20px;
}
img{
    max-width: 100%;
}
.trioimg{
    padding: .7rem;
}
.pics img{
    display: block;
    margin: auto;
}
 #about .pics img {
    margin: .2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
 .pics{
         text-align: center;
}
#artists p{
    text-align: right;
    font-weight:bold;
    font-size: 14pt;
}

 @media screen and (min-width:700px){

     body{
         margin: auto;
     }
     header{
         text-align: left;
         margin-bottom: 65px;
     }
     .kaleheader{
         font-size: 68pt;
         display: inline-block;
         margin-bottom: 20px;
         border-bottom: solid #C2C2C2 3px;
     }
     nav{
         display: inline-block;
         text-align: left;
         margin-top:2rem;
     }
     ul{
         padding-left: 0;
         margin-left: 12px;
         border: none;
     }
     h1{
         font-size: 24pt;
     }
     #about h3{
         margin: 0;
     }
     .pics img{
         display: inline-block;
     }
     .pics{
         text-align: center;
     }

     .col{
         margin: 5px;
         display:inline-block;
         vertical-align: top;
         text-align: left;
         width:45%;
         padding:4px;
     }
     .col1{
         margin:20px;
         display:inline-block;
         vertical-align:top;
         text-align: left;
         width:45%;
         padding:4px;
     }
     .artistspage{
         margin: 5px;
         display:inline-block;
         vertical-align: top;
         text-align: left;
         width:40%;
         padding:4px;
         margin-bottom: 70px;
     }
     .lartistspage{
         margin: 5px;
         display:inline-block;
         vertical-align: top;
         text-align: left;
         width:40%;
         padding:4px;
         margin-bottom: 170px;
     }
     .choice{
         text-align: center;
     }
     .artists{
         text-align:center;
         margin-top: 75px
     }
     .quote{
         text-align:left;
         margin-top: 75px;
     }
     .quotepic{
         margin-left: .5rem;
         margin-top: 1rem;
     }
     .ps{
         margin-top: 3rem;
         margin-bottom: .5rem;
     }
     .apic1{
         float: right;
     }

}
